<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.goldwind.md4x.business.dao.datamart.IecpathMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.goldwind.md4x.business.entity.datamartmap.Iecpath">
		<id column="id" property="id" />
		<result column="iecpath" property="iecpath" />
		<result column="descrcn" property="descrcn" />
		<result column="sort_id" property="sortId" />
		<result column="main_field_id" property="mainFieldId" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, iecpath, descrcn, sort_id, main_field_id
	</sql>

	<sql id="where_condition">
		<where>
			<if test="findContent != null and findContent != ''">
				iecpath RLIKE #{findContent} or descrcn RLIKE #{findContent}
			</if>
		</where>
	</sql>
	
	<!-- 有一些主变量与源变量的关联关系是一对一的关系，这些主变量的创建时通过源变量来创建的，这些源变量是可以划分到别的主变量下做为奴隶的 -->
	<select id="list" parameterType="map" resultMap="BaseResultMap">		
		SELECT
		<include refid="Base_Column_List" />
		FROM
			t_iecpath 
		<include refid="where_condition" />
		GROUP BY
			main_field_id 
		HAVING
			count( main_field_id ) = 1
		ORDER BY 
			iecpath
		LIMIT 
			#{currIndex} , #{pageSize}
	</select>
	
	<select id="count" resultType="java.lang.Integer" parameterType="map">
		SELECT count(*) from (
			SELECT
				count(main_field_id) as num
			FROM
				t_iecpath 
			<include refid="where_condition" />
			GROUP BY
				main_field_id 
			HAVING
				num = 1
		) AS tmp
	</select>
</mapper>
