<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.goldwind.md4x.shiro.domain.mapper.SysTokenMapper">
	<update id="expireTokensByPermissionId">
		UPDATE sys_token 
		SET 
			expire_time = now(),
			update_time = now() 
		WHERE
			sys_token.userId IN (
				SELECT
					sys_user.userId 
				FROM
					sys_user,
					sys_role,
					sys_user_role,
					sys_permission,
					sys_role_permission 
				WHERE
					sys_user.userId = sys_user_role.userId 
					AND sys_role.roleId = sys_user_role.roleId 
					AND sys_role.roleId = sys_role_permission.roleId 
					AND sys_permission.permissionId = sys_role_permission.permissionId 
					AND sys_permission.permissionId = #{permissionId}
			)
	</update>
	
	<update id="expireTokensByRoleId">
		UPDATE sys_token 
		SET 
			expire_time = now(),
			update_time = now() 
		WHERE
			sys_token.userId IN (
				SELECT
					sys_user.userId 
				FROM
					sys_user,
					sys_role,
					sys_user_role
				WHERE
					sys_user.userId = sys_user_role.userId 
					AND sys_role.roleId = sys_user_role.roleId 
					AND sys_role.roleId=#{roleId}
			)
	</update>
</mapper>
